<div class="col-sm-6 col-sm-offset-3">
    <h3 class="form-signin-heading text-center">Register with SkyCast</h3>
    <form class="form-signin" role="form" action="/register" method="POST">
        <input type="text" class="form-control margin-bottom" placeholder="Email address" name="email" required autofocus="">
        <input type="password" class="form-control margin-bottom" placeholder="Password" name="password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
</div>